.stepper > div > div > div > div {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stepper > div > div > div > a,
.stepper > div > div > div > div {
  font-size: 12px !important;
}