/* .project-page {
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
#uncontrolled-tab-example-tab-ongoing, #uncontrolled-tab-example-tab-completed {
  outline: none;
}