.tag-wrapper {
  width: 100%;
  margin: 16px auto;
  overflow: scroll;
  display: flex;
}

.tag-item {
  white-space: nowrap;
  border-radius: 10000px;
  padding: 6px 10px;
  background: #aaa3;
  font-size: 0.8rem;
  margin: 5px 10px;
}
