.insurance-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 90%;
}
.insurance {
  width: 90%;
  border-radius: 20px;
  padding: 1rem;
  margin: 1.4rem auto;
  display: flex;
  height: 11rem;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

.basic {
  background: linear-gradient(139deg, #d4ff90, #6acb9e);
  box-shadow: 3px 4px 5px #d4ff9084;
}

.intermediate {
  background: linear-gradient(139deg, #74a3ea, #91b1ce);
  box-shadow: 3px 4px 5px #9fbbe684;
}

.advanced {
  background: linear-gradient(139deg, #ff90de, #cb6a97);
  box-shadow: 3px 4px 5px #ff90de84;
}

.insurance > .add-button {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.insurance > h2 {
  font-weight: 300;
  margin: 10px 0;
}
.insurance > .money {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
.insurance > p {
  font-weight: 200;
  margin: 10px 0;
  color: #555;
}
.folder-item {
  position: relative;
  transition: 0.2s;
  transform: skew(0deg, 0deg) scale(1);
}

.folder-item:hover {
  transform: skew(-2deg, 10deg) scale(0.8) translateX(-20px);
}
.folder-item:hover::before {
  transform: translate(40px, -12px);
}

.folder-item:hover::after {
  transform: translate(20px, -6px);
}

.folder-item::before, .folder-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  transform: translate(10px, -6px);
  margin: auto;
  background: linear-gradient(139deg, #d4ff90, #6acb9e);
  border-radius: 20px;
  z-index: 0;
  transition: 0.2s;
}

.folder-item::after {
  content: '';
  transform: translate(5px, -3px);
  background: linear-gradient(139deg, #74a3ea, #91b1ce);
}