/* .wallet-page {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.payment-card {
  width: 90%;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px #000;
  margin: 1rem auto;
  transition: 0.1s;
  background: linear-gradient(120deg, #2f5d72, #302f65);
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 200;
}
.payment-card::after {
  content: "LISA";
  color: #fff;
  position: absolute;
  font-size: 2rem;
  right: 16px;
  bottom: 16px;
  font-family: "Black Han Sans", sans-serif;
  font-style: italic;
}

.wallet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.wallet-header > h2 {
  margin-bottom: 0;
  align-self: flex-start;
  margin: auto 0;
  margin-left: 10px;
}

.currency-sign {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.currency-sign > span {
  margin: 10px;
  cursor: pointer;
}

.transaction-wrapper {
  border-radius: 16px;
  padding: 0;
  width: 95%;
  margin: 1rem 0;
  background: #fff;
  border: 1px solid #9993;
  overflow: hidden;
}

.money-amount {
  color: #de2838;
  font-size: 2rem;
  font-weight: 300;
}

.inflow {
  color: lightgreen;
} */

/* ANCHOR  */
.top-left {
  margin-left: 1rem;
  margin-top: 0.75rem;
}

.balance {
  margin-top: 1rem;
}

.icon {
  /* margin: 2rem; */
  margin-left: 2rem;
  font-size: 5rem;
}

.transactions {
  margin-top: 2rem;
}

.transaction {
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 0;
  /* align-content: center; */
}
