.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  flex-direction: column;
  align-items: center;
}

.login-profile {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background: #ddd;
  position: relative;
}

.login-profile::before {
  content: "";
  position: absolute;
  height: 4.5rem;
  width: 4.5rem;
  transform-origin: center;
  transform: scale(1.2);
  border-radius: 50%;
}

.usera {
  background: url(./avatar_a.png);
  background-size: cover;
}

.usera::before {
  border: 2px solid #33d9d6;
}



.userb {
  background: url(./avatar_c.png);
  background-size: cover;
}

.userb::before {
  border: 2px solid #da364e;
}

.userc {
  background: url(./avatar_b.png);
  background-size: cover;
}

.userc::before {
  border: 2px solid #c8f069;
}

.active::before {
  animation: ani 3s ease-in 1 forwards 0.4s;
}

.active.usera {
  animation: anir 1s ease-in 1 forwards 1.4s;
}

.active.userc {
  animation: anil 1s ease-in 1 forwards 1.4s;
}

.inactive.usera {
  animation: mover 2s ease-in-out 1 forwards 0.4s;
}

.inactive.userb {
  animation: movel 2s ease-in-out 1 forwards 0.4s;
}

.inactive.userc {
  animation: movel 2s ease-in-out 1 forwards 0.4s;
}

@keyframes ani {
  0% {
    transform: scale(1.2);
  }
  10% {
    transform: scale(1);
  }
  100% {
    transform: scale(100);
  }
}
@keyframes anir {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3rem);
  }
}
@keyframes anil {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3rem);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-3000px);
  }
}

@keyframes movel {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(3000px);
  }
}