/* 
.page-header {
  height: var(--header-height);
  text-align: center;
  border-bottom: 1px solid #9993;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.page-header > h1 {
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 100;
  margin: 0;
  transform: translateY(3px);
}

.logo-title {
  height: 60%;
} */

.header {
  background: #fff !important;
  border-bottom: 1pt solid #eee9;
}