.bottom-navigation {
  height: var(--footer-height);
  background: #444;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  
}
.bottom-navigation > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}